<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Smart Cultive App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Smart Cultive App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-card *ngFor="let device of devices">
      <ion-card-header>
        <ion-card-title>Nombre: {{device.nombre}} </ion-card-title>
        <ion-card-subtitle> Ubicación: {{device.ubicacion}} </ion-card-subtitle>
        <ion-card-subtitle> Electroválvula: {{device.ElectroValvula}} </ion-card-subtitle>
        <ion-button size="small" [routerLink]="['/device', device.dispositivoId]">
          Ver más
        </ion-button>
      </ion-card-header>
    </ion-card>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Desarrollado por Martin Lacheski</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>